@model StudentBookMapping
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 table-bordered ">
                <h3 class="alert-danger"><i class=""></i>Alert</h3>
                <p>Are u sure, you want delete this?</p>

                <form action="/StudentBookMapping/DeleteConfirm/@Model.Id" method="post">
                    <p class="text-right">
                        <button type="submit" class="btn btn-default btn-xs ">Ok</button>
                        <a href="/StudentBookMapping/TableView/@Model.StudentId" class="btn btn-default btn-xs text-right">Cancel</a>
                    </p>
                </form>

            </div>
        </div>

    </div>




